.monitor {
    height: 100vh;
}

body {
    color: $primary;
}

// 避免 flex-basis: content 的效果
.flex-item-unscroll {
    height: 0;
}

.map-interface {
    flex-grow: 1;
    position: relative;
}

.mask-navi {
    .navbar-brand {
        color: #34495e;
        h1 {
            font-size: inherit;
        }
    }
    .navbar-nav {
        .nav-item {
        position: relative;
        @media (min-width: 992px) {
            &:hover::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 5px;
                bottom: -9.28px;
                background-color: #34495e;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                }
            }
            .nav-link {
                color: #34495e;
            }
        }
    }
}

.map-control-container {
    max-width: 350px;
    width: 100%;
    flex: 0 0 auto;
    height: 100%;
    @media (max-width: 992px) {
        position: absolute;
        top: 0;
        transform: translate(-100%);
        transition: transform 1s ease-in-out;
        z-index:2;
        &.slide-in {
            transform: translate(0);
            transition: transform 1s ease-in-out;
        }
    }
}

#map-control {
    .searchbar {
        flex-grow: 1;
        width: 0;
        box-shadow: none;
    }
    .find-phar {
        color: #34495E;
        background-color: #fff;
    }
    .available {
        font-size: 3rem;
        small {
            font-size: 1.5rem;
        }
        .realname-info {
            background: url('/src/assets/images/ic_help@2x.png') transparent no-repeat;
            height: 24px;
            width: 24px;
            border: 0;
            &:hover {
                box-shadow: 0 0 0.4rem 0.2rem rgba(0,123,255,.25);
                background-color: inherit
            }
        }
    }
    .description {
        font-size: 0.8rem;
        line-height: 1.5;
    }
}

.sort-icon { font-size: 1.5rem; }

.pharmacy-list { flex-grow: 1; }

.mask-stock {
    .out-of-stock {
        background: url('/src/assets/images/ic_stock_none@2x.png') rgba(112, 119, 124, 0.3) right -10px bottom 10% no-repeat;
    }
    .in-stock {
        background: url('/src/assets/images/ic_stock_full@2x.png') #11787A right -10px bottom 10% no-repeat;
    }
    .short-supply {
        background: url('/src/assets/images/ic_stock_few@2x.png') #E67E22 right -10px bottom 10% no-repeat;
    }
}

// 口罩數量
.mask-stock-quan {
    font-size: 1.8rem;
    font-style: normal;
    margin-right: 0.5rem;
}

// 藥局資訊
.pharmacy-name {
    display: grid;
    grid-template-columns: [name-start] auto [button-start] 40px [name-end];
    align-items: center;
}

.pharmacy-name__name {
    font-size: 1.25rem;
    grid-column-start: name-start;
    grid-column-end: button-start;
}

.pharmacy-name__btn {
    grid-column-start: button-start;
    grid-column-end: name-end;
}

.phar-info-item {
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: [icon-start] 30px [icon-end] auto [button-start] 40px [button-end];
    align-items: center;
    line-height: 1.5em;
}

.phar-info-item__btn {
    grid-column-start: button-start;
    grid-column-end: button-end;
}

.phar-info-item__content {
    grid-column-start: icon-end;
    grid-column-end: button-start;
    padding: 0 0.25rem;
}

.phar-info-item__title {
    grid-column-start: icon-start;
    grid-column-end: icon-end;
}

.side-note {
    grid-column-start: icon-end;
    grid-column-end: button-end;
}

// 查看更多
.see-more {
    width: 152px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

// TOP
.back-to-top {
    right: 1rem;
    position: sticky;
    bottom: 50px;
    width: 46px;
    height: 46px;
    box-shadow:rgba(52, 73, 94, 0.3) 0 10px 20px;
}

.see-more:hover, .back-to-top:hover {
    background-color: #22303d;
}

// 定位按鈕
.locate {
    right: 1rem;
    bottom: 1rem;
    z-index: 2;
}

.locate__text {
    font-size: 0.7rem;
    margin-right: 0.5rem;
}

.locate__btn {
    background-color: #fff;
    box-shadow:rgba(0, 0, 0, 0.16) 0 3px 6px;
    &:hover {
        background-color: #f7dec4;
    }
}

.search-record:hover {
    background-color: rgba($primary, 0.7);
    color: color-contrast($primary)
}

// 地圖
#map {
    flex-grow: 1;
    z-index: 1;
}

// 地圖上藥局資訊欄
.popup-masks {
    min-width: 100px;
    color: white;
    font-weight: bold;
    .out-of-stock {
        background: rgba(112, 119, 124, 0.3);
    }
    .in-stock {
        background: #11787A;
    }
    .short-supply {
        background: #E67E22;
    }
}

.popup-mask-info {
    width: 150px;
}

.popup-link-group .popup-link {
    color: $primary;
    padding: 0.5rem;
    border: 1px solid transparent;
    &:hover { border-color: $primary }
}